nav {
  height: 7vh;
  align-items: center;
  background-color: #a7778c;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: #ffe3da;
}
.nav__title {
  font-size: larger;
}
.nav__items a {
  margin-right: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  margin: 20px;
  text-align: center;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#contact .panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}
#contact .right__panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  width: 100vw;
}
#contact img {
  height: 100px;
  width: 100px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  gap: 10px;
  width: 60vw;
}
.contact__form__title {
  text-align: center;
  width: 75vw;
}
.contact__form .form__input {
  border-radius: 5px;
  width: 100%;
}
.contact__form .form__button {
  border-radius: 40px;
  width: 50%;
}

@media screen and (min-width: 770px) {
  #contact {
    background-color: #ffe3da;
    color: #1d223e;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d223e;
  color: #ffe3da;
}

section {
  width: 100vw;
}

.test {
  color: #1d223e;
}