/*Nav*/
.nav {
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  background-color: #a7778e;
  position: sticky;
  top: 0;
  width: 100%;
}
.nav__title {
  color: #ffe3da;
  text-decoration: none;
  font-size: 1.5em;
  margin: 2em;
}
.nav__title:hover {
  color: #ffe3da;
  text-decoration: none;
}
.nav__hamburger {
  display: none;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu a {
  text-decoration: none;
}
.nav__item {
  color: #ffe3da;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 600;
}
.nav__item:hover {
  text-decoration: underline;
  color: #ffe3da;
}
.nav__item:active {
  text-decoration: underline;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffe3da;
}

@media screen and (max-width: 768px) {
  .nav__title {
    font-size: 1.2em;
  }
  .nav__hamburger {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 7vh;
    flex-direction: column;
    background-color: #1d223e;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    justify-content: center;
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*Home*/
.home {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#hello-text {
  display: inline-block;
  vertical-align: middle;
  color: #ffe3da;
  letter-spacing: 2px;
  text-align: left;
}

#hello-cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: #ffe3da;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ffe3da;
  }
}
.intro {
  margin: 30% 10% 0% 10%;
}
.intro__title, .intro__greeting {
  font-size: 3.5em;
}

@media screen and (min-width: 770px) {
  .home {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .intro {
    margin: 0;
  }
  .intro__title {
    font-size: 5em;
  }
  .intro__greeting {
    font-size: 4.5em;
  }
}
/*Skills Section*/
.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.line-border {
  border-color: #ffe3da;
  border-width: 5px;
  border-left-style: solid;
  border-right-style: solid;
}

.skills__tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  width: 75vw;
  margin: 10vh auto;
}
.skills__tech i {
  font-size: 35px;
}

.tech-icon > p {
  opacity: 0;
  font-size: 25px;
}

.tech-icon:hover > p {
  opacity: 1;
  transition: 0.5s;
}

.skills__other {
  display: flex;
  list-style-position: inside;
  text-align: left;
  width: 75vw;
  margin: 10vh auto;
  padding: 20px;
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
}
/*Project Section*/
#project-section {
  padding-bottom: 7vh;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  margin: 20px;
  text-align: center;
}
.project a {
  text-decoration: none;
  color: #ffe3da;
}
.project a:hover {
  text-decoration: underline;
}

.portfolio-image {
  width: 70%;
  height: 180px;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 5%;
  border: #ffe3da solid 3px;
  box-shadow: -15px -15px #ffe3da;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  color: black;
}
.overlay .modal {
  max-width: 100%;
  position: relative;
  top: 10px;
  margin: 5% 10%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  pointer-events: auto;
  justify-items: center;
}
.overlay a {
  color: black;
  text-decoration: none;
}
.overlay a:hover {
  text-decoration: underline;
}
.overlay__image {
  grid-row-start: 1;
  grid-row-end: 2;
}
.overlay__summary {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}
.overlay__description {
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.4em;
  }

  .overlay .modal {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
  }
  .overlay__image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    box-shadow: none;
  }
  .overlay__summary {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .overlay__description {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .portfolio-image {
    width: 95%;
    height: 190px;
  }
}
/*Contact Section*/
#contact .panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}
#contact .right__panel {
  display: flex;
  align-items: center;
}
#contact .right__panel i {
  margin: 10px;
}
#contact .right__panel a {
  text-decoration: none;
  color: #ffe3da;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  gap: 10px;
  width: 60vw;
}
.contact__form__title {
  text-align: center;
  width: 75vw;
}
.contact__form__input {
  border-radius: 5px;
  width: 100%;
}
.contact__form__button {
  border-radius: 40px;
  width: 50%;
}

@media screen and (min-width: 770px) {
  #contact .panel {
    display: flex;
    justify-content: space-evenly;
  }
  #contact .right__panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  #contact .right__panel i {
    font-size: 5em;
    margin: 0;
  }
  #contact .left__panel {
    justify-items: center;
  }

  .contact__form {
    height: 100%;
    padding: 15px;
  }
}
/*Button Styles*/
.btn__primary {
  color: #ffe3da;
  border-radius: 5px;
  padding: 5px;
  border-color: #ffe3da;
  background-color: #1d223e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 7vh;
}

body {
  background-color: #1d223e;
  color: #ffe3da;
  scroll-snap-type: y mandatory;
  width: 100vw;
}

section {
  width: 100vw;
  scroll-snap-align: start;
}

.section__header {
  font-size: 4.3em;
  margin: 5vw;
}

footer {
  text-align: center;
}