@import "./assets/styles/variables";
@import "./assets/styles/nav";
@import "./assets/styles/contact";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-colour;
    color: $secondary-colour;
}

section{    
    height: 100vh;
}

.test{
    color: $primary-colour;
}