@import "./assets/styles/variables";
/*Nav*/
@import "./assets/styles/nav";
/*Home*/
@import "./assets/styles/home";
/*Skills Section*/
@import "./assets/styles/skills";
/*Project Section*/
@import "./assets/styles/project";
/*Contact Section*/
@import "./assets/styles/contact";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-colour;
    color: $secondary-colour;
    scroll-snap-type: y mandatory;
}

section{    
    width: 100vw;
    scroll-snap-align: start;
}

.test{
    color: $primary-colour;
}

footer{
    text-align: center;
}