/*Nav*/
nav {
  height: 7vh;
  align-items: center;
  background-color: rgba(167, 119, 142, 0.4);
  position: sticky;
  top: 0;
  width: 100%;
}

.nav__title {
  display: none;
}
.nav__items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.nav__items a:hover {
  text-decoration: underline;
}
.nav a {
  text-decoration: none;
  color: #ffe3da;
}

@media screen and (min-width: 770px) {
  .nav {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
  .nav__title {
    display: block;
    font-size: larger;
    text-decoration: none;
  }
  .nav__items a {
    margin-right: 20px;
  }
  .nav__items a:hover, .nav__items a:active {
    text-decoration: underline;
  }
}
/*Home*/
.home {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#hello-text {
  display: inline-block;
  vertical-align: middle;
  color: #ffe3da;
  letter-spacing: 2px;
}

#hello-cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: #ffe3da;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #ffe3da;
  }
}
.intro {
  margin: 30% 10% 0% 10%;
}
.intro h1 {
  font-weight: 3.5em;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Skills Section*/
.skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-items: center;
}

.line-border {
  border-color: #ffe3da;
  border-width: 5px;
  border-left-style: solid;
  border-right-style: solid;
}

.skills__tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  width: 75vw;
  margin: 10vh auto;
}
.skills__tech i {
  font-size: 35px;
}

.tech-icon > p {
  opacity: 0;
  font-size: 25px;
}

.tech-icon:hover > p {
  opacity: 1;
  transition: 0.5s;
}

.skills__other {
  display: flex;
  list-style-position: inside;
  text-align: left;
  width: 75vw;
  margin: 10vh auto;
  padding: 20px;
  font-size: 1.3em;
}

/*Project Section*/
#project-section {
  padding-bottom: 7vh;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  margin: 20px;
  text-align: center;
}
.project a {
  text-decoration: none;
  color: #ffe3da;
}
.project a:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  color: black;
}
.overlay .modal {
  max-width: 100%;
  position: relative;
  top: 10px;
  margin: 5% 10%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  pointer-events: auto;
}
.overlay a {
  color: black;
  text-decoration: none;
}
.overlay a:hover {
  text-decoration: underline;
}
.overlay__image {
  grid-row-start: 1;
  grid-row-end: 2;
}
.overlay__summary {
  grid-row-start: 2;
  grid-row-end: 3;
}
.overlay__description {
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 770px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    font-size: 1.4em;
  }

  .overlay .modal {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
  }
  .overlay__image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .overlay__summary {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .overlay__description {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
/*Contact Section*/
#contact .panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}
#contact .right__panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  width: 100vw;
}
#contact img {
  height: 100px;
  width: 100px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  gap: 10px;
  width: 60vw;
}
.contact__form__title {
  text-align: center;
  width: 75vw;
}
.contact__form .form__input {
  border-radius: 5px;
  width: 100%;
}
.contact__form .form__button {
  border-radius: 40px;
  width: 50%;
}

@media screen and (min-width: 770px) {
  #contact {
    background-color: #ffe3da;
    color: #1d223e;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 7vh;
}

body {
  background-color: #1d223e;
  color: #ffe3da;
  scroll-snap-type: y mandatory;
}

section {
  width: 100vw;
  scroll-snap-align: start;
}

.section__header {
  font-size: 3.5em;
  margin: 5vw;
}

footer {
  text-align: center;
}