#contact{
    .panel{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin-top: 20px;
    }

    .right__panel{
        display: flex;
        align-items: center;
        
        i{
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: $secondary-colour;
        }
    }
}

.contact__form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    gap: 10px;
    width: 60vw;
    
    &__title{
        text-align: center;
        width: 75vw;
    }
    
    &__input{
        border-radius: 5px;
        width: 100%;
    }
    
    &__button{
        border-radius: 40px;
        width: 50%;
    }
}

@media screen and (min-width: 770px) {
    #contact{
        .panel{
            display: flex;
            justify-content: space-evenly;
        }
    
        .right__panel{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
    
            i{
                font-size: 5em;
                margin: 0;
            }
        }

        .left__panel{
            justify-items: center;
        }
    }

    .contact__form{
        height: 100%;
        padding: 15px;
    }
}
