#contact{
    .panel{
        display: flex;
        border: $secondary-colour solid 2px;
        align-items: center;
    }

    .left__panel{
        display: flex;
        flex-direction: column;
        align-content: center;

        img{
           height: 10%; 
           width: 10%;
        }
    }
}

.contact__form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;

    .form__input{
        border-radius: 5px;
        width: 100%;
    }

    .form__button{
        border-radius: 40px;
        width: 50%;
    }
}