#contact .panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}
#contact .right__panel {
  width: 100%;
  display: flex;
  align-items: center;
}
#contact .right__panel i {
  margin: 10px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  gap: 10px;
  width: 60vw;
}
.contact__form__title {
  text-align: center;
  width: 75vw;
}
.contact__form .form__input {
  border-radius: 5px;
  width: 100%;
}
.contact__form .form__button {
  border-radius: 40px;
  width: 50%;
}

@media screen and (min-width: 770px) {
  #contact .panel {
    display: flex;
    justify-content: space-evenly;
  }
  #contact .right__panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  #contact .right__panel i {
    font-size: 5em;
    margin: 0;
  }
  #contact .right__panel a {
    text-decoration: none;
  }

  .contact__form {
    height: 100%;
    padding: 15px;
  }
}