.home{
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#hello-text {
	display: inline-block;
	vertical-align: middle;
	color: $secondary-colour;
	letter-spacing: 2px;
	text-align: left;
}

#hello-cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: $secondary-colour;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: $secondary-colour; 
	}
}

.intro{
    margin: 30% 10% 0% 10%;
    
    h1{
        font-size: 3.5em;
    }
}

@media screen and (min-width:770px) {
	.home{
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.intro{
		margin: 0;
		h1{
			font-size: 5em;
		}
	}
}