nav {
  height: 7vh;
  align-items: center;
  background-color: #a7778c;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav__title {
  display: none;
}
.nav__items {
  display: flex;
  justify-content: space-evenly;
}
.nav a {
  text-decoration: none;
}

@media screen and (min-width: 770px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__title {
    display: inline;
    font-size: larger;
  }
  .nav__items a {
    margin-right: 20px;
  }
  .nav__items a:hover, .nav__items a:active {
    text-decoration: underline;
  }
}