.nav{
    height: 9vh;
    position: sticky;
    top: 0;
    background-color: rgba(167, 119, 142, 0.726);
    z-index: 2;
    
    a{
        text-decoration: none;
        color: $secondary-colour;
    }
    a:hover{
        color: $secondary-colour;
    }

    &__title{
        font-size: 2em;
    }

    &__menu{
        position: fixed;
        left: -100%;
        top: 8vh;
        background-color: $primary-colour;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: 0.3s;

        a{
            font-size: 1.8em;
            font-weight: 700;
        }
    }

    &__menu.active {
        left: 0;
    }

    &__hamburger{
        display: block;
        cursor: pointer;
    }

    &__hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }
    
    &__hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    &__hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }
}

.bar{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $secondary-colour;
}

@media screen and (min-width: 768px){

    .nav{
        &__title{
            font-size: 1.9em;
            font-weight: 600;
        }

        &__hamburger{
            display: none;
        }

        &__menu{
            left: 100%;
            background-color: rgba(0, 255, 255, 0);
            position: static;
            width:fit-content;
            height: fit-content;
            
            a{
                font-size: 1.5em;
                font-weight: 700;
            }
        }
    }
}
