.nav{
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(167, 119, 142);
    position: sticky;
    top: 0;
    width: 100%;

    &__title{
        color: $secondary-colour;
        text-decoration: none;
        font-size: 1.7em;
        margin-left: 2em;
    }
    &__title:hover{
        color: $secondary-colour;
        text-decoration: none;
    }

    &__hamburger{
        display: none;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;
        }
    }
    &__item{
        color: $secondary-colour;
        margin-right: 1em;
        margin-left: 1em;
        font-size: 1.5em;
        font-weight: 600;
    }
    
    &__item:hover{
        text-decoration: underline;
        color: $secondary-colour;
    }
    &__item:active{
        text-decoration: underline;
    }
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $secondary-colour;
}

@media screen and  (max-width: 768px){

    .nav{
        &__title{
            font-size: 1.2em;
        }

        &__hamburger {
            display: block;
            cursor: pointer;
        }

        &__menu {
            position: fixed;
            left: -100%;
            top: 7vh;
            flex-direction: column;
            background-color: $primary-colour;
            width: 100%;
            height: 90%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            justify-content: center;
        }
    
        &__menu.active {
            left: 0;
        }    
        
        &__hamburger.active .bar:nth-child(1) {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }
        
        &__hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        &__hamburger.active .bar:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}