.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  margin: 20px;
  text-align: center;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.overlay {
  color: black;
}
.overlay > .modal {
  max-width: 100%;
  position: relative;
  top: 10px;
  margin: 5% 10%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px #000000;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  pointer-events: auto;
}
.overlay__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.overlay__summary {
  grid-column-start: 2;
  grid-column-end: 3;
}
.overlay__description {
  grid-column-start: 2;
  grid-column-end: 3;
}