#projects{
    .section-header{
        color: $secondary-colour;
    }
}
.project{
    color: $primary-colour;
}
.project__tile{
    &-image{
        min-width: 50%;
        height: 80%;
        max-width: 60%;
        border-radius: 5%;
        box-shadow: -15px -15px $secondary-colour; 
    }
}

.project__overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;

    //Addition
    color: black;

    .project__modal{
        max-width: 100%;
        position: relative;
        top: 10px;
        margin: 5% 10%;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0 0 10px #000000;
        display: grid;
        pointer-events: auto;
    }
}

.overlay__image{
    min-width: 50%;
    height: 80%;
    max-width: 60%;
    border-radius: 5%;
}

@media screen and (min-width: 768px){
    .project__tile{
        &-summary{
            h4, p{
                font-size: 2.2em;
            }
            button{
                font-size: 1.7em;
            }
        }
    }

    .overlay__summary{
        font-size: 16px;
    }
}