.skills{
    color: $secondary-colour;
}

.skills__tech{
    &-header{
        font-size: 2.5em;
    }
}

.line-border{
    border-width: 5px;
    border-left-style: solid;
    border-right-style: solid;
}

.tech-icon{
    z-index: -1;
    > p{
        opacity: 0;
        font-size: 20px;
    }
}

.tech-icon:hover{
    >p{
        opacity: 1;
        transition: 0.5s;
    }
}

@media screen and (min-width: 768px){
    .skills__tech, .skills__other{
        &-header{
            font-size:3em;
        }
    }

    .tech-icon{
        i{
            font-size: 4em;
        }
    }

    .line-border{
        border-width: 15px;
    }

}